<div class="footer">
    <div class="footer__social-media">
        <p>Follow us</p>
        <div class="footer__images">
            <img src="../../../assets/icons/facebook.svg" alt="">
            <img src="../../../assets/icons/instagram.svg" alt="">
            <img src="../../../assets/icons/twitter.svg" alt="">
        </div>
        <div class="footer__navigation">
            <ul>
                <li><a href="" class="subtitle">About Us</a></li>
                <p>we want to help passengers <br> to reach their destinations</p>
            </ul>
            <ul>
                <li><a href="" class="subtitle">Explore</a></li>
                <li><a href="">Home</a></li>
                <li><a href="">Destinations</a></li>
                <li><a href="">About</a></li>
            </ul>
         
        </div>
    </div>
</div>