<div class="navbar-container">
    <div class="title-container">
        <a href="#" class="navbar__title"><h2>AIRLINE</h2></a>
    </div>
    <div class="wrapper-items">
        <nav class="navbar">
            <ul class="navbar__menu">
                <li ><a class="navbar__item" href="">Home</a></li>
                <li ><a class="navbar__item" href="">About</a></li>
                <li ><a class="navbar__item" href="">Destination</a></li>
                <li ><a class="navbar__item" href="">Contact</a></li>
            </ul>
        </nav>
    </div>
    <div class="mobile">
        <img src="../../../assets/icons/hamburguer.png" alt="">
    </div>
</div>